$white: #ffffff;
$black: #232323;

$theme-blue: #007bff;
$theme-red: #cd3800;
$theme-grey: #838383;

$theme-background: #e8e7e4;
$theme-border-color: #d8d8d8;

$theme-border-radius: 4px;

$color-placeholder-text: #c0c0c0;
$color-form-field-border: #d8d8d8;
$color-form-field: #646777;
$color-form-field-focus: #2d70f0;

$theme-error-color: #A84737;